<h1>
  Edit organization email #<%= @organization_email.id %>
</h1>

<hr>

<!-- Form organization_email start -->
<form action="/update_organization_email/<%= @organization_email.id %>" method="post">
<!-- Form organization_email end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <label for="status">
      Status
    </label>

    <!-- Input for status start -->
    <input type="text" id="status" name="status" class="form-control" value="<%= @organization_email.status %>">
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <!-- Label and input for organization_email start -->
  <div class="form-group">
    <label for="organization_email">
      Organization email
    </label>

    <!-- Input for organization_email start -->
    <input type="text" id="organization_email" name="organization_email" class="form-control" value="<%= @organization_email.organization_email %>">
    <!-- Input for organization_email end -->
  </div>
  <!-- Label and input for organization_email end -->

  <button class="btn btn-block btn-outline-secondary">
    Update organization email
  </button>
</form>

<hr>

<a href="/organization_emails">
  Go back
</a>
