<h1>
  Add a new organization email
</h1>


<hr>

<!-- Form organization_email start -->
<form action="/create_organization_email" method="post">
<!-- Form organization_email end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @organization_email.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <label for="status">
      Status
    </label>

    <!-- Input for status start -->
    <input type="text" id="status" name="status" class="form-control">
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <!-- Label and input for organization_email start -->
  <div class="form-group">
    <label for="organization_email">
      Organization email
    </label>

    <!-- Input for organization_email start -->
    <input type="text" id="organization_email" name="organization_email" class="form-control">
    <!-- Input for organization_email end -->
  </div>
  <!-- Label and input for organization_email end -->

  <button class="btn btn-block btn-outline-secondary">
    Create organization email
  </button>
</form>

<hr>

<a href="/organization_emails">
  Go back
</a>
