<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Organization Emails

    <a data-toggle="collapse" href="#user_organization_emails_new_form">
      Add organization email
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.organization_emails.each do |organization_email| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/organization_emails/<%= organization_email.id %>">
          <%= organization_email.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
