<% if @group_admin.errors.any? %>
  <% @group_admin.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit group admin #<%= @group_admin.id %>
</h1>

<hr>

<form action="/update_group_admin/<%= @group_admin.id %>" method="post">


  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :group_name, @group_admin.group_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update group admin
  </button>
</form>

<hr>

<a href="/group_admins">
  Go back
</a>
