<h1>
  Edit group admin #<%= @group_admin.id %>
</h1>

<hr>

<!-- Form group_admin start -->
<form action="/update_group_admin/<%= @group_admin.id %>" method="post">
<!-- Form group_admin end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @group_admin.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for group_id start -->
  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <!-- Input for group_id start -->
    <input type="text" id="group_id" name="group_id" class="form-control" value="<%= @group_admin.group_id %>">
    <!-- Input for group_id end -->
  </div>
  <!-- Label and input for group_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update group admin
  </button>
</form>

<hr>

<a href="/group_admins">
  Go back
</a>
