<!-- Validation failure messages -->
<% if @group_admin.present? %>
  <% if @group_admin.errors.any? %>
    <% @group_admin.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new group admin
</h1>


<hr>

<!-- Form group_admin start -->
<form action="/create_group_admin" method="post">
<!-- Form group_admin end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @group_admin.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for group_id start -->
  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <!-- Input for group_id start -->
    <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :group_name, @group_admin.group_id), :class => "form-control") %>
    <!-- Input for group_id end -->
  </div>
  <!-- Label and input for group_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create group admin
  </button>
</form>

<hr>

<a href="/group_admins">
  Go back
</a>
