<h1>
  Edit friendship #<%= @friendship.id %>
</h1>

<hr>

<form action="/update_friendship/<%= @friendship.id %>" method="post">



  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @friendship.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update friendship
  </button>
</form>

<hr>

<a href="/friendships">
  Go back
</a>
