<h1>
  Add a new friendship
</h1>


<hr>

<form action="/create_friendship" method="post">

  <input type="hidden" name="sender_id" value="<%= current_user.id %>">

  <input type="hidden" name="receiver_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create friendship
  </button>
</form>

<hr>

<a href="/friendships">
  Go back
</a>
