<form action="/create_group_admin_from_group" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="group_id" value="<%= @group.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create group admin
  </button>
</form>
