<h1>
  Add a new group
</h1>


<hr>

<!-- Form group start -->
<form action="/create_group" method="post">
<!-- Form group end -->

  <!-- Label and input for group_name start -->
  <div class="form-group">
    <label for="group_name">
      Group name
    </label>

    <!-- Input for group_name start -->
    <input type="text" id="group_name" name="group_name" class="form-control">
    <!-- Input for group_name end -->
  </div>
  <!-- Label and input for group_name end -->

  <!-- Label and input for group_description start -->
  <div class="form-group">
    <label for="group_description">
      Group description
    </label>

    <!-- Input for group_description start -->
    <textarea id="group_description" name="group_description" class="form-control" rows="3"></textarea>
    <!-- Input for group_description end -->
  </div>
  <!-- Label and input for group_description end -->

  <!-- Label and input for group_photo start -->
  <div class="form-group">
    <label for="group_photo">
      Group photo
    </label>

    <!-- Input for group_photo start -->
    <input type="text" id="group_photo" name="group_photo" class="form-control">
    <!-- Input for group_photo end -->
  </div>
  <!-- Label and input for group_photo end -->

  <button class="btn btn-block btn-outline-secondary">
    Create group
  </button>
</form>

<hr>

<a href="/groups">
  Go back
</a>
